<center>
  <!-- Place this tag where you want the button to render. -->
  <a
    class="github-button"
    href="https://github.com/kajahno/bash-notes/archive/master.zip"
    data-icon="octicon-cloud-download"
    aria-label="Download this repo from GitHub"
    >Download</a
  >

  <!-- Place this tag where you want the button to render. -->
  <a
    class="github-button"
    href="https://github.com/kajahno/bash-notes"
    data-icon="octicon-star"
    data-show-count="true"
    aria-label="Star kajahno/bash-notes on GitHub"
    >Star</a
  >

  <!-- Place this tag where you want the button to render. -->
  <a
    class="github-button"
    href="https://github.com/kajahno/bash-notes/fork"
    data-icon="octicon-repo-forked"
    data-show-count="true"
    aria-label="Fork kajahno/bash-notes on GitHub"
    >Fork</a
  >

  <!-- Place this tag where you want the button to render. -->
  <a
    class="github-button"
    href="https://github.com/kajahno"
    aria-label="Follow @kajahno on GitHub"
    >Follow @kajahno</a
  >

  <!-- Place this tag where you want the button to render. -->
  <a
    class="github-button"
    href="https://github.com/kajahno/bash-notes/subscription"
    data-icon="octicon-eye"
    aria-label="Watch kajahno/bash-notes on GitHub"
    >Watch</a
  >

  <!-- Place this tag where you want the button to render. -->
  <a
    class="github-button"
    href="https://github.com/kajahno/bash-notes/issues"
    data-icon="octicon-issue-opened"
    aria-label="Issue kajahno/bash-notes on GitHub"
    >Issue</a
  >

  <p>Made by <a href="https://github.com/kajahno">kajahno</a></p>
  <p>Last updated on PLC_LAST_UPDATED</p>
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
